<h1>Welcome to JobHunter</h1>
<h2><i>A community of Engineers and Developers looking out for one another!</i></h2>
<p>If you already have an account, click "Login" to sign in.<br>
If you don't have an account, click "Create an Account" to sign up.</p>

<button style="padding:5px 10px" onclick="window.location.href = '/login';">Login</button>
<button style="padding:5px 10px" onclick="window.location.href = '/signup';">Create an account</button>