<h3>Login to your JobHunter account:</h3>
<form action="/login" method="post">
<p><label>Username:</label>
<input type="text" name="username" id="username" placeholder="Username"></p>

<p><label>Email:</label>
<input type="text" name="email" id="email" placeholder="Email"></p>

<p><label>Password:</label>
<input type="password" name="password" id="password" placeholder="Password"></p>

<input class="btn-submit" type="submit" value="Submit">
</form>